@model IEnumerable<FixItApp.Infrastructure.DataTransferObjects.ApplicationExtendedDTO>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Users</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Client</th>
            <th>Master</th>
            <th>Price</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.ClientLogin</td>
                <td>@item.MasterLogin</td>
                <td>@item.Price</td>
                <td>@item.Status</td>
                <td>
                    <form asp-controller="Application" asp-action="DeleteApplication" method="post">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
 
</div>
</body>
</html>