@model IEnumerable<FixItApp.Infrastructure.DataTransferObjects.ApplicationExtendedDTO>

<style>
.buttn {
  display: inline-block;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

</style>

<body>

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Applications</h2>
            </div>
        </div>
    </div>
</div>

<!-- Blog Start -->
<div class="blog">
    <div class="container">
        <div class="row blog-page">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="blog-item">
                        <div class="blog-title">
                            <h3>@item.Title</h3>
                            <form asp-controller="Application" asp-action="EditApplication" method="get" asp-route-id="@item.Id" >
                                <input type="hidden" name="id" value="@item.Id"/>
                                <button>ED</button>
                            </form>
                            
                            <form asp-controller="Application" asp-action="DeleteApplication" >
                                <input type="hidden" name="id" value="@item.Id"/>
                                <button>RM</button>
                            </form>
                           
                        </div>
                        <div class="blog-meta">
                            <p>For<a>@item.ClientLogin</a></p>
                            @if (@item.MasterLogin != null)
                            {
                                <p>By<a>@item.MasterLogin</a></p>
                            }
                            else
                            {
                                <p><a>Waiting for master</a></p>
                            }
                        </div>
                        <div style="height:110%" class="blog-text">
                            <p>
                                Description: @item.Description
                            </p>
                            @if (@item.Status != null)
                            {
                                <p>
                                    Status: @item.Status
                                </p>
                            }
                            else
                            {
                                <p>
                                    Status: Waiting for master
                                </p>
                            }
                            @if (@item.Price != null)
                            {
                                <p>
                                    Price: @item.Price
                                </p>
                            }
                            else
                            {
                                <p>
                                    Price: Not set yet
                                </p>
                                
                            }
                          
                                <a style="float:right" class="buttn" asp-controller="Feedback" asp-action="CreateFeedback" asp-route-appId="@item.Id" method="get">Comment</a>
                        </div>
                        
                        </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Blog End -->

</body>